<%= simple_form_for @hero do |f|%>
  <h3><%= f.input :name, label: "Name of Hero", include_hidden: false%></h3>
  <h3><%= f.input :field, label: "Field" %></h3>
  <h3><%= f.file_field :hero_image, label: "Picture" %></h3>
  <h3><%= f.input :stories, label: "Heroic Stories" %></h3>
  <h3><%= f.input :phone, label: "Your Phone Number" %></h3>
  <%= f.button :submit, "Nominate the Hero" %>
<% end %>
