<%= simple_form_for @hero do |f|%>
    <h1><%= f.input :name, label: "Hero Name" %></h1>
    <h2><%= f.input :field, label: "Field" %></h2>
    <p><%= f.input :description, label: "Heroic story" %></p>
    <h4><%= f.input :phone, label: "Your phone number" %></h4>
    <%= f.button :submit %>
  <% end %>
  