<html>
  <head>
    <!---<title>Real Heroes DB</title>--->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel = "shortcut icon" type="image/png" href ="./assets/manaluco.png">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "logo" %>
      <% end %>

      <% if user_signed_in? %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Add hero", new_hero_path%></li>
      <% end %>
    </nav>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &times;</a>
      <div class="center">
        <%= link_to "Nominate a Hero", new_hero_path%>
        <%= link_to "About", about_path %>
        <%= link_to "Contact Us", contact_path %>
      </div>
    </div>

  <span id="hamburger" onclick="openNav()">&#9776;</span>
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>

  <div class="content">
 
    <%= yield %>
  </div>
  </body>
</html>
